.card-container {
    width: 16rem;
    height: 22rem;
    padding: 20px 10px;
    display: grid;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow:  6px 6px 9px #cacaca,
             -6px -6px 9px #f6f6f6;
}

.card-container:hover{
    background-color: #ededed;
}

.card-tittle {
    text-align: center;
    width: 200px;
}

.card-img {
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
}

.card-price {
    font-weight: 500;
}

.btn-item-detail {
    width: 10rem;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    background-color: #ffbc0d;
    transition: 300ms ease-out;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}

.btn-item-detail:hover {
    background-color: #E7AC13;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

